/* elimino margine bianco su tutta la pagina */
body {
    margin: 0;
}

/* margine sinistro */
.container {
    margin-left: 10px;
}

/* HEADER */
header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 400px;
}

.logo {
    width: 200px;
    margin-top: 30px;
}

/* sezione article-header */
h1 {
    font-size: 40px;
    margin: 10px 0 0 0;
    line-height: 1;
}

.article-info {
    color: #929292;
    font-size: 20px;
}

.article-link {
    font-size: 20px;
    text-decoration: none;
}

.article-date {
    margin: 0;
    font-size: 14px;
}

/* sezione delle immagini */
.article-pictures {
    margin: 20px 0;
}

/* sezione della lista */
.article-list {
    padding: 10px;
}