/* elimino margine bianco su tutta la pagina*/
body {
    margin: 0;
}

/*margine sinistro*/
.container {
    margin-left: 10px;
}

/* HEADER */
header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 400px;
}

.logo {
    width: 200px;
    margin-top: 30px;
}