/* elimino margine bianco su tutta la pagina */
body {
    margin: 0;
}

/* margine sinistro e destro */
.container {
    margin: 0 10px;
}

/* HEADER */
header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 400px;
}

.logo {
    width: 200px;
    margin-top: 30px;
}

/* sezione article-header */
h1 {
    font-size: 40px;
    margin: 10px 0 0 0;
    line-height: 1;
}

.article-info {
    color: #929292;
    font-size: 20px;
}

.article-link {
    font-size: 20px;
    text-decoration: none;
}

.article-date {
    margin: 0;
    font-size: 14px;
}

/* immagini dell'articolo */
.article-pictures {
    margin: 20px 0;
}

/* lista */
.article-list {
    padding: 10px;
}

/* tabella */
/* elimino spazio bianco tra le celle */
.article-table {
    border-spacing: 0;
  }

.article-table-head {
    text-align: left; 
    background-color: #20a9e5;
    color: white;
}

.article-table-cell {
    width: 50%;
}

.article-table-row-blue{
    background-color: #b1e5f2;
}

/* testo evidenziato */
.higlighted-text {
    background-color: #fefe00;
}